.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.logo-group {
  display: flex;
  align-items: center;
}

.copyright {
  @include small-light-text;
  padding-top: 1rem;
  padding-left: 1rem;
  color: $color-grey-dark-2;
}

.social-and-lang-group {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-small) {
    order: -1;
    margin-bottom: 6rem;
  }
}

.social-icon {
  padding-right: 2rem;

  img {
    width: 1.6rem;
    margin-left: 1.5rem;
  }
}

.lang {
  font-size: 1.4rem;

  > span {
    padding-left: 2rem;
  }

  span:last-child {
    @include small-light-text(1.4rem);
  }
}

.footer-hr {
  display: block;
  margin-top: $xl-size;
  border: 0;
  border-top: 1px solid rgba($color-grey-dark-2, 0.3);
}
