.logo-icon {
  width: 4rem;
  height: 4rem;
}

.logo-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.brand-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.nav-icon-group {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__flights,
  &__my-list,
  &__login,
  &__logout-text {
    padding: 0 2rem;
    color: inherit;
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: 0.4px;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1rem;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  &__logout-text {
    margin-left: -1rem;

    @media only screen and (max-width: $bp-small) {
      margin-left: -0.5rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    margin-top: 3rem;
  }
}

.login-icon {
  width: 2.5rem;
  height: 2.5rem;
}
