.logo-icon {
  width: 4rem;
  height: 4rem;
}

.logo-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.brand-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.nav-icon-group {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__flights,
  &__how-it-works,
  &__login,
  &__logout,
  &__logout-text {
    padding-left: 3rem;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.5px;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 2rem;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
  }

  &__logout-text {
    margin-left: -2rem;
  }
}

.login-icon {
  width: 2.5rem;
  height: 2.5rem;
}
