.footer {
  display: flex;
  justify-content: space-between;
  margin: 4rem 10rem;
}

.social-icon {
  > img {
    width: 1.6rem;
    margin-left: 1rem;
  }
}

.lang {
  padding-left: 3rem;

  > span {
    padding-left: 2rem;
  }
}