.logo-icon {
  width: 4rem;
  height: 4rem;
}

.logo-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.brand-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.nav-icon-group {
  &__flights,
  &__how-it-works,
  &__signup,
  &__login {
    display: inline-block;
    padding-left: 3rem;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.5px;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 2rem;
    }
  }
}