.filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6rem;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: $color-grey-light-3;
  border: 1px solid $color-grey-light-2;

  &__criteria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      margin: 1rem 2rem;

      > span {
        margin-right: 2rem;

        @media only screen and (max-width: $bp-medium) {
          margin-bottom: 1.5rem;
        }
      }

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

      @media only screen and (max-width: $bp-xsmallest) {
        margin: 0.25rem 0.15rem;
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1rem 0.2rem;
  }
}
