.filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: $color-grey-light-3;
  border: 1px solid $color-grey-light-2;

  &__criteria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div {
      padding: 0 2rem;
    }
  }
}

@mixin button($bg-color: $color-primary) {
  padding: 1rem 2rem;
  color: $color-grey-light-3;
  background-color: $bg-color;
  border-radius: 3px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.blue-button {
  @include button;
}

.red-button {
  @include button($color-red);
}
