.dropdown-filter {
  width: 15rem;

  .Select-placeholder {
    color: $color-secondary;
    background-color: $color-grey-light-1;
  }

  .Select-control {
    border: 1px solid $color-grey-light-1;
  }
}

.placeholder-text {
  .Select-placeholder {
    color: $color-primary;
  }
}
