.wishlist-page {
  display: flex;
  flex-direction: column;
  padding: $l-size 0 $s-size;
}

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.wishlist {
  &__title {
    @include title;
  }

  &__description {
    @include description;
  }
}

.no-item-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  font-family: $font-secondary;
  font-size: 4rem;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column-reverse;
    font-size: 3rem;
    text-align: center;
  }
}

.no-item-found {
  width: 30rem;
  height: 30rem;

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 3rem;
  }
}
