.small-trip-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}

.small-trip-card {
  &__image {
    width: 100%;

    &:hover {
      filter: brightness(0.7);
    }
  }

  &__title {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__description {
    margin-top: 0.5rem;
    
    @include small-light-text(1.4rem);
  }
}
