// Colors
$color-primary: #1A81F3;
$color-secondary: #242424;

$color-grey-1: #919dab;
$color-grey-2: #D6DAE0;
$color-grey-3: #EBEFF2;

// Fonts
$font-primary: 'Cabin', sans-serif;
$font-secondary: 'IBM Plex Serif', sans-serif;

// Spacing
$s-size: 1.6rem;
$m-size: 4rem;
$l-size: 6rem;
$xl-size: 10rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 40em; // 640px;
$bp-smallest: 30em; // 480px;