// Colors
$color-primary: #1A81F3;
$color-secondary: #363636;

$color-grey-dark-1: #919DAB;
$color-grey-dark-2: #AFBCCC;

$color-grey-light-1: #EBEFF2;
$color-grey-light-2: #F0F3F5;
$color-grey-light-3: #FAFBFC;
$color-grey-light-4: #F5F6F7;

// Fonts
$font-primary: 'Cabin', sans-serif;
$font-secondary: 'IBM Plex Serif', sans-serif;

// Spacing
$s-size: 1.6rem;
$m-size: 4rem;
$l-size: 6rem;
$xl-size: 10rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 46em; // 736px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 30em; // 480px;